@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.animate-fade {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Range input styling */
input[type="range"] {
  @apply appearance-none bg-gray-700 h-2 rounded-lg;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none w-4 h-4 bg-tmobile rounded-full cursor-pointer;
}